<div class="step-row steps">
  <div class="step-col">
    <div>
      <button class="btn btn-default pull-left" ng-click="resetSteps()">Reset Steps</button>
      <button class="btn btn-primary pull-right" ng-click="addStep()">Add Step</button>
    </div>
    <ul>
      <li ng-repeat="step in steps track by $index" ng-class="{'running':(step.running && !step.finished), 'trying': step.trying, 'disabled': step.disabled, 'finished': step.finished}">
        <h2>{{$index+1}}</h2>
      <label class="adjust"><editable model="step.name"></editable>
        <sup ng-if="step.disabled" class="disabled">disabled</sup>
        <sup ng-if="step.trying" class="trying">{{step.finished ? 'Stopping' : 'Starting'}}</sup>
      </label>
      <label class="notes" ng-if="step.group"><editable model="step.group"></editable></label>
      <div class="input-group" role="group">
        <editable class="seconds" type="number" model="step.seconds"></editable> Seconds
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="step.disabled=!step.disabled"><i class="fa fa-lg" ng-class="{'fa-toggle-off':step.disabled, 'fa-toggle-on':!step.disabled}"></i></button>
          <button type="button" class="btn btn-default" ng-click="changeSeconds(step,step.seconds-1)" ng-disabled="step.finished || step.seconds === 0"><i class="fa fa-minus fa-lg"></i></button>
          <button type="button" class="btn btn-default" ng-click="changeSeconds(step,step.seconds+1)" ng-disabled="step.finished"><i class="fa fa-plus fa-lg"></i></button>
          <button type="button" class="btn btn-default" ng-click="startStop($index)" ng-disabled="step.disabled">
            <i class="fa fa-lg" ng-class="{'fa-stop-circle':step.running||step.up.running,'fa-play-circle':!step.running&&!step.disabled&&!step.trying,'fa-clock-o':step.trying,'fa-ban':step.disabled}"></i>
          </button>
          <button type="button" class="btn btn-default" ng-click="steps.splice($index, 1);"><i class="fa fa-trash fa-lg"></i></button>
        </span>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="changeType(step)">{{step.type | titlecase}}</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="step.type !== 'delay'">
            {{step.type === 'analog' ? 'A' : 'D'}}{{step.pin}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-left" ng-if="step.type === 'analog'">
            <li ng-repeat="p in getPortRange(settings.ports.analog) track by $index" ng-class="{'active': step.pin==p}">
              <a href="#" ng-click="step.pin=p;">A{{p}}
                <span class="pininuse" ng-show="pinInUse(p,step.type)">(In Use)</span>
              </a>
            </li>
          </ul>
          <ul class="dropdown-menu dropdown-menu-left" ng-if="step.type === 'digital'">
            <li ng-repeat="p in getPortRange(settings.ports.digital) track by $index" ng-class="{'active': step.pin==p}">
              <a href="#" ng-click="step.pin=p;">D{{p}}
                <span class="pininuse" ng-show="pinInUse(p,step.type)">(In Use)</span>
              </a>
            </li>
          </ul>
      </div>
      </li>
    </ul>
  </div>
</div>
